/* DEBUG */
/* * {
	outline: 1px solid red;
} */

/* Utils */
.loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.8);
		z-index: 9999;
}

.loading-container h4 {
	color: black;
}

.Toastify {
	font-size: 1.5rem;
}


/* Nav */
.logo {
	float: left;
	padding: 10px;
	margin-left: 10px;
}

.nav-ul li {
	display: inline-block;
	padding-right: 20px;
	padding: 10px;
	margin: 10px;
}

.nav-ul li a {
	font-size: 1.5rem;
	color: darkslategrey;
	text-decoration: none;
	padding: 10px;
	margin: 0px;
}

.nav-ul .logged {
	font-size: 1.5rem;
	justify-content: center;
	color: darkslategrey;
	text-decoration: none;
	float: right;
}

.nav-ul .logged .btn {
	font-size: 1.5rem;
}

.nav-profile {
	position: relative;
	display: inline-block;
}

.nav-badge {
	position: absolute;
	top: -10px;
	/* Adjust as needed */
	right: -10px;
	/* Adjust as needed */
	background-color: red;
	color: white;
	border-radius: 60%;
	padding: 2px 8px;
	font-size: 0.75em;
	vertical-align: top;
}
.nav-profile-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}
/* Home */
@import url("react-toastify/dist/ReactToastify.css");

.home-container .home-row {
	position: relative;
	margin-bottom: 20px;
	padding: 30px;
	border-top: 1px solid #f2f2f2;
	border-radius: 20px;
	box-shadow: 0px 7px 20px rgba(203, 200, 200, 0.656);
}

.home-row h1 {
	color: black !important;
}

.home-container h1 {
	text-align: center;
	margin-bottom: 1.5rem;
	color: darkgrey
}

.home-container .mb-3 {
	height: 5rem;
}

.home-container .mb-3 .pac-target-input {
	border: 1px solid lightgrey;
}

.home-container .btn {
	border-radius: 20px;
	height: 5rem;
}

.home-container .btn-search {
	width: 8rem;
	font-size: 1.25rem;
}

.home-container img {
	width: 100%;
}

.home-container-tab {
	position: absolute;
	top: -35px;
	right: 35px;
	z-index: 100;
	width: 210px;
	height: 35px;
	font-size: 18px;
	background-color: #e5f22a;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px 25px 0 0;
	cursor: pointer;
}

.home-container-tab p {
	justify-content: justify;
}

.home-subcontainer .g-7 {
	margin-top: 2rem;
	padding: 30px;
	border: 2px solid #f2f2f2;
	border-radius: 20px;
}

.homeservices-subcontainer .g-4 {
	margin-top: 1.25rem;
}

.homeservices-image-container {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	border-radius: 20px;
	box-shadow: 0px 7px 20px rgba(203, 200, 200, 0.656);
}

.homeservices-link {
	text-decoration: none;
	color: inherit;
}

.homeservices-link:hover {
	text-decoration: none;
}

.homeservices-image-container:hover {
	background-color: #ffc107;
}

.home-carousel {
	margin-bottom: 20px;
}

.home-carousel .carousel-item {
	height: 500px;
}

.home-carousel .carousel-item img {
	border-radius: 20px;
	height: 100%;
	width: 100%;
}

/* HomeMap */
@import url("leaflet/dist/leaflet.css");

.leaflet-container {
	border-radius: 20px;
	width: auto;
	height: 400px;
}

.leaflet-tooltip-pane {
	font-size: 1.25rem;
	border-radius: 10px;
}

.leaflet-tooltip {
	border-radius: 10px;
}

.leaflet-popup-pane {
	font-size: 1.25rem;
	border-radius: 10px;
}

.leaflet-popup-content .btn {
	border-radius: 15px;
	width: 100%;
	font-size: 1.25rem;
	border-color: #ffc107;
	background-color: #ffc107;
	height: 3rem;
	color: #000;
}

/* Offer */

.offer-container .offer-form {
	position: relative;
	margin-bottom: 20px;
	padding: 30px;
	border-top: 1px solid #f2f2f2;
	border-radius: 20px;
	box-shadow: 0px 7px 20px rgba(203, 200, 200, 0.656);
}

.offer-form .btn {
	margin-top: 2rem;
	height: 4rem;
	font-size: 1.5rem;
}

.offer-services {
	position: relative;
	margin-bottom: 20px;
	padding: 30px;
	border-top: 1px solid #f2f2f2;
	border-radius: 20px;
	box-shadow: 0px 7px 20px rgba(203, 200, 200, 0.656);
}

.offer-checks {
	display: block;
}

.offer-toprow {
	margin-bottom: 20px;
}

.offer-services-table {
	font-size: 1.25rem;
}


table {
	border-collapse: separate;
	border-spacing: 0 10px;
	border: 1px solid #ddd;
	border-radius: 20px;
	padding: 10px;
	width: 100%;
}

th,
td {
	padding: 10px;
	text-align: center;
}


tbody tr {
	border: 5px solid lightgrey;
}

tbody tr th:first-child,
tbody tr td:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

tbody tr th:last-child,
tbody tr td:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* Services */
.card-image {
	height: 300px;
	object-fit: cover;
	width: 100%;
}

.services-card {
	border: 1px solid #f2f2f2;
	border-radius: 20px;
	box-shadow: 0px 7px 20px rgba(203, 200, 200, 0.656);
}

.services-card:hover {
	background-color: #f7e2a3
}
.services-col {
	margin-bottom: 25px;
}
.services-link {
	text-decoration: none;
	color: black;
}

.services-link:hover {
	text-decoration: none;
	color: black;
}
/* Hire */
.service-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.service-row {
	display: flex;
	margin-top: 10px;
	align-items: center;
	gap: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 8px;
}

.service-row .btn {
	width: 100%;
}

.service-user-photo {
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 50%;
}

.service-card p {
	margin: 0;
	color: #666;
}

.service-card a {
	color: black !important;
}
.service-card-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hire-row {
	position: relative;
	margin-bottom: 20px;
	padding: 30px;
	width: 100%;
	border-top: 1px solid #f2f2f2;
	border-radius: 20px;
	box-shadow: 0px 7px 20px rgba(203, 200, 200, 0.656);
}

.hire-services {
	position: relative;
	margin-top: 20px;
	padding: 30px;
	border-top: 1px solid #f2f2f2;
	border-radius: 20px;
	box-shadow: 0px 7px 20px rgba(203, 200, 200, 0.656);
}

.hire-row .btn {
	height: 5rem;
	width: 100%;
	border-radius: 20px;
	font-size: 1.25rem;
}

.hire-row .mb-3 {
	height: 4rem;
}

.hire-modal .form-label {
	font-size: 1.25rem;
}

.hire-modal .form-control {
	font-size: 1.25rem;
}

/* Login & Register*/
.auth-main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../../static/login-bg.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}

.auth-register-sub-main,
.auth-login-sub-main {
	width: 720px;
	padding: 60px;
	margin: 0 auto;
	border-radius: 40px;
	box-shadow: 0px 7px 20px rgba(203, 200, 200, 0.656);
	background-color: #ffe188
}

.auth-login-sub-main {
	width: 420px !important;
}

.auth-main h1 {
	text-align: center;
}

.auth-login-sub-main .form-control,
.auth-register-sub-main .form-control {
	border-radius: 20px;
	height: 4rem;
	font-size: 1.25rem;
	padding-left: 20px;
}

.auth-login-sub-main .form-group,
.auth-register-sub-main .form-group {
	margin-top: 2rem;
}

.auth-login-sub-main .form-group .btn,
.auth-register-sub-main .form-group .btn {
	border-radius: 20px;
	height: 4rem;
	width: 100%;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.auth-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}

.auth-form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.auth-sub-main-right,
.auth-sub-main-left {
	flex: 1;
	width: 100%;
	margin-bottom: 15px;
}

.auth-separator {
	width: 2px;
	background-color: #29282829;
	margin: 20px;
	align-self: stretch;
}

/* Profile */
.profile div {
	margin-bottom: 1rem;
}

.profile-image img {
	padding: 0.5rem;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	display: flex;
	margin: 0 auto;
	margin-bottom: 1rem;
	box-shadow: 10px 9px 20px rgba(203, 200, 200, 0.656);
}

.profile-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	padding: 10px;
	border: 2px solid #f2f2f2;
	border-radius: 20px;
}
/* HomeMap */
.homemap-container {
	display: flex;
	height: 100vh;
}

.homemap-controls {
	color: #fff;
}

.homemap-controls input {
	border: none;
}

.map-container {
	width: 100%;
	height: 100vh;
}

.map {
	width: 80%;
	height: 100vh;
}

.highlight {
	font-size: 1.25rem;
	font-weight: bold;
}

.combobox-input {
	width: 100%;
	padding: 0.5rem;
}

/* Comments - Chat */
.chat-container {
	max-height: 400px;
	overflow-y: auto;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #f9f9f9;
}

.chat-message {
	display: flex;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 20px;
	position: relative;
	max-width: 70%;
}

.chat-message-sender {
	align-self: flex-start;
	margin-left: 10px;
	background-color: #fdd86a;
	color: black;
}

.chat-message-receiver {
	align-self: flex-end;
	margin-right: 10px;
	background-color: #e9ecef;
}

.chat-message span {
	display: block;
	font-size: 1.1em;
	margin-bottom: 5px;
}

.chat-timestamp {
	font-size: 0.8em;
	color: #666;
}

.chat-input-container {
	display: flex;
	margin-top: 10px;
}

.chat-input {
	flex: 1;
	padding: 8px;
	border: 1px solid #ddd;
	margin-right: 10px;
}

.chat-message img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	object-fit: cover;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #ffc107;
	background-color: #fff;
	border-color: darkgrey;
}

.nav-tabs .nav-link {
	color: black;
	font-size: 1.25rem;
}

.nav-tabs {
	border-bottom: none;
}

.nav-tabs .nav-link:hover {
	color: gray
}

/* Public Profile */
.public-profile-hire a {
	text-decoration: none;
	color: black
}

.user-number {
	border-radius: 8px;
	padding: 15px;
	font-size: large;
	text-align: center;
	font-weight: bold;
	border-color: darkgrey;
	box-shadow: 10px 2px 20px rgba(203, 200, 200, 0.656);
	transition: background-color 0.3s;
}

.user-number:hover {
	background-color: #ffc107;
}

.user-number-label {
	text-align: center;
	color: #666;
	font-size: large;
}

/* Additional styling for better layout */
.profile-services-row {
	justify-content: space-around;
	padding: 20px;
}
/* Footer */
.footer {
	background-color: #f2f2f2;
	border-radius: 10px;
	padding: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 120px;
	z-index: 10;
	overflow: hidden;
}

.footer ul {
	margin: 5px;
	list-style-type: none;
	text-align: center;
}

.footer ul li a {
	text-decoration: none;
	color: darkslategrey;
}

.footer div div {
	text-align: left;
}

.footer i {
	font-size: 25px;
	color: darkslategrey;
}

.footer .floating-whatsapp-button {
	right: 30px;
	bottom: 210px;
}

.footer .floating-whatsapp-chatbox {
	right: 40px;
	bottom: 230px;
}